@font-face {
    font-family: 'iconfont';  /* project id 2476129 */
    src: url('//at.alicdn.com/t/font_2476129_lesl9f3dgyh.eot');
    src: url('//at.alicdn.com/t/font_2476129_lesl9f3dgyh.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2476129_lesl9f3dgyh.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2476129_lesl9f3dgyh.woff') format('woff'),
    url('//at.alicdn.com/t/font_2476129_lesl9f3dgyh.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2476129_lesl9f3dgyh.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
